username = admin
password = admin
server = orchestra
port = 8183
zookeeper.connectString = orchestra:2281
zookeeper.session.timeout = 60000
keystore=/var/lib/orchestra/keystore/clientKey.jks
keystore.password=password
truststore=/var/lib/orchestra/keystore/clientTrust.jks
truststore.password=password
apikey.dir=/var/lib/orchestra/apikey
zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.keystore=/var/lib/orchestra/keystore/testKeyStore.jks
zookeeper.keystore.password=testpass
zookeeper.truststore=/var/lib/orchestra/keystore/testTrustStore.jks
zookeeper.truststore.password=testpass
