mysql.username = orchestra
mysql.password = orchestra
mysql.url = jdbc:mysql://localhost:3306/orchestra
truststore=/var/lib/orchestra/keystore/serverTrust.jks
truststore.password=password
keystore=/var/lib/orchestra/keystore/serverKey.jks
keystore.password=password
key.password=password
#nonce.expiration.period=15 #in minutes, default to be 15
#nonce.deletion.period=1 #in minutes, default to be 1
#request.timeout=5 #in minutes, default to be 5
#mongodb.host = localhost
#mongodb.port = 27017
#mongodb.user = orchestra
#mongodb.password = orchestra